* {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif; }

html {
  font-size: 62.5%; }

main {
  height: 100vh;
  display: grid;
  grid-template-columns: 17% 83%;
  grid-template-rows: 85% 15%;
  grid-template-areas: "menu catalog catalog catalog catalog" "player player player player player"; }

.catalog {
  height: 100%;
  width: 100%;
  grid-area: catalog;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center; }

.menu {
  height: 100%;
  width: 100%;
  grid-area: menu;
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; }

.separate {
  height: 1px;
  width: 82%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 2rem;
  display: flex; }

.player {
  height: 100%;
  width: 100%;
  grid-area: player;
  background-color: #181818;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 100%;
  grid-template-areas: "music-info music-buttons-control page-buttons-control";
  box-shadow: 1px 2px 6px rgba(255, 255, 255, 0.6); }
  .player-music-info {
    grid-area: music-info;
    padding-left: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .player-music-control {
    grid-area: music-buttons-control;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .player-page-control {
    grid-area: page-buttons-control; }

.menu-logo {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .menu-logo-link {
    text-decoration: none;
    color: white;
    padding-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .menu-logo-link i {
      font-size: 3.5rem; }
    .menu-logo-link span {
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 600;
      padding-left: .5rem;
      font-size: 2.3rem; }

.menu-nav {
  width: 100%;
  height: 22vh; }
  .menu-nav-items {
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: flex-start; }
  .menu-nav-item {
    width: 100%;
    padding: .8rem; }
  .menu-nav-link {
    color: rgba(255, 255, 255, 0.6);
    transition: color .2;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-left: 1rem; }
    .menu-nav-link:hover {
      color: white; }
    .menu-nav-link i {
      width: 20%;
      font-size: 2rem;
      display: flex;
      align-self: center; }
    .menu-nav-link span {
      width: 80%;
      font-size: 1.4rem;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 550; }

.menu-nav-more {
  width: 100%;
  height: 10vh;
  margin-top: 2rem; }
  .menu-nav-more-items {
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: flex-start; }

.menu-nav-playlists {
  width: 100%;
  height: 26vh;
  margin-top: .3rem;
  display: block;
  overflow-x: hidden; }
  .menu-nav-playlists-items {
    height: 100%;
    width: 100%;
    list-style: none;
    margin-top: .5rem; }
  .menu-nav-playlists-item {
    width: 100%;
    padding: .7rem; }
  .menu-nav-playlists-link {
    color: rgba(255, 255, 255, 0.6);
    transition: color .2;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-left: 1rem;
    font-size: 1.4rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400; }
    .menu-nav-playlists-link:hover {
      color: white; }

.menu-download-app {
  width: 100%;
  margin-top: 1.2rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start; }
  .menu-download-app-link {
    width: 100%;
    padding-left: 1.8rem;
    display: flex;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    transition: color .2s;
    align-items: center; }
    .menu-download-app-link i {
      width: 20%;
      font-size: 2rem;
      display: flex;
      align-self: center; }
    .menu-download-app-link span {
      width: 80%;
      font-size: 1.2rem;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 550; }
    .menu-download-app-link:hover {
      color: white; }

::-webkit-scrollbar {
  width: 13px;
  position: absolute; }

::-webkit-scrollbar-track {
  background: black; }

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  height: 50px; }

.player-music-info img {
  height: 5rem;
  width: 5rem;
  object-fit: cover; }

.player-music-info .about-music {
  padding-left: .2rem; }
  .player-music-info .about-music-items {
    padding-left: 1rem; }
  .player-music-info .about-music-item:first-child {
    margin-bottom: .3rem; }
    .player-music-info .about-music-item:first-child a {
      font-weight: 600; }
  .player-music-info .about-music-link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-size: 1.2rem; }
    .player-music-info .about-music-link:hover {
      color: white; }

.icon-like-music {
  padding-left: 2.2rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6); }
  .icon-like-music i {
    font-size: 1.5rem; }

.player-music-control {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }
  .player-music-control-buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    list-style: none;
    align-items: center; }
    .player-music-control-buttons-item {
      padding: 0 .8rem; }
    .player-music-control-buttons-link {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.6);
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background-color: transparent;
      cursor: pointer; }
      .player-music-control-buttons-link span {
        font-size: 2rem; }
      .player-music-control-buttons-link:hover {
        color: white; }
    .player-music-control-buttons .bigger-icon span {
      font-size: 4rem; }
      .player-music-control-buttons .bigger-icon span:nth-child(1) {
        display: none; }
  .player-music-control-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: .5rem;
    color: rgba(255, 255, 255, 0.6); }
    .player-music-control-timer .timer {
      width: 65%;
      height: .4rem;
      background-color: rgba(255, 255, 255, 0.4);
      margin: 0 1rem;
      position: relative;
      border-radius: 2px; }
      .player-music-control-timer .timer:after {
        position: absolute;
        content: "";
        width: 20%;
        height: .4rem;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 2px; }
    .player-music-control-timer span {
      font-size: 1.2rem; }

.player-page-control {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .player-page-control-buttons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 1rem;
    list-style: none;
    align-items: center; }
    .player-page-control-buttons-item {
      padding: 0 .6rem; }
    .player-page-control-buttons-link {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.6);
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background-color: transparent;
      cursor: pointer; }
      .player-page-control-buttons-link span {
        font-size: 2rem; }
      .player-page-control-buttons-link:hover {
        color: white; }
    .player-page-control-buttons-timer {
      margin-left: .5rem;
      display: flex;
      align-items: center; }
      .player-page-control-buttons-timer-icon {
        padding: 0 .5rem;
        color: rgba(255, 255, 255, 0.6); }
        .player-page-control-buttons-timer-icon:hover {
          color: white; }
      .player-page-control-buttons-timer-volume-control {
        height: .5rem;
        width: 100px; }

.navbar {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../images/capa-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  align-self: flex-start;
  position: relative; }
  .navbar-catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute; }
    .navbar-catalog-buttons-navegation {
      width: 500%;
      display: flex;
      height: 100%;
      list-style: none;
      padding-left: 2rem; }
      .navbar-catalog-buttons-navegation-item {
        padding: 1rem; }
      .navbar-catalog-buttons-navegation-button {
        background-color: transparent;
        border: none;
        color: white; }
    .navbar-catalog-more {
      width: 50%;
      height: 100%;
      display: flex;
      padding-right: 1rem;
      justify-content: flex-end; }
      .navbar-catalog-more-item {
        width: 160px;
        padding: 1rem 0 1rem 0;
        list-style: none;
        color: white;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center; }
      .navbar-catalog-more-button {
        width: 150px;
        height: 30px;
        background-color: transparent;
        -moz-border-radius: 20px;
        border-radius: 20px;
        border: solid rgba(255, 255, 255, 0.6) 0.1rem;
        color: white; }
      .navbar-catalog-more-image-circle {
        clip-path: circle(20%);
        background-color: red;
        height: 100%;
        width: 50%; }

.user-options {
  justify-content: flex-start; }
