.player-page-control{
    @include flexPosition(flex-start);
   
    span{
        font-size: 2rem;
        color: color(white-light);
    }

    &-buttons{
        @include flexPosition(flex-end);
        width: 100%;
        padding-right: 1.5rem;

        &-item{
            list-style: none;
            padding: 0 .5rem;

        }

        &-link{
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }

    &-timer{
        margin-left: .5rem;
        display: flex;
        align-items: center;

        span{
            padding: 0 .5rem;
        }

        input{
            height: .5rem;
            width: 100px;
        }
          
    }
}