.player-page-control{
    @include flexPosition(flex-start);

    &-buttons{
        display: flex;
        width: 100%;
        justify-content: flex-end;
        padding-right: 1rem;
        list-style: none;
        align-items: center;

        &-item{
            padding: 0 .6rem;
        }

        &-link{
            text-decoration: none;
            color: color(white-light);
            @include flexPosition;
            border: none;
            background-color: transparent;
            cursor: pointer;

            span{
                font-size: 2rem;
            }

            &:hover{
                color: color(white-dark);
            }
        }

        &-timer{
            margin-left: .5rem;
            display: flex;
            align-items: center;

            &-icon{
                padding: 0 .5rem;
                color: color(white-light);

                &:hover{
                    color: color(white-dark);
                }
            }

            &-volume-control{
                height: .5rem;
                width: 100px;
            } 
        }
    }
}