.menu-logo{
    width: 100%;
    height: 12vh;
    @include flexPosition(flex-start);

    &-link{
        text-decoration: none;
        color: color(white-dark);
        padding-left: 2rem;
        @include flexPosition;

        i{
            font-size: 3.5rem;
        }

        span{
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 600;
            padding-left: .5rem;
            font-size: 2.3rem;
        }
    }

}